@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply 
    focus:ring-1 focus:outline-none 
    focus:ring-gray-700 
    md:font-semibold rounded-lg md:text-sm 
    px-1 md:px-5 py-2.5 text-center 
    inline-flex items-center;
}
h1,p,a,button{
    @apply text-white;
}

